.main
  .header
    .group-name
      グループ名
      .group-member
        member：name
    .group-edit
      Edit

  .message
    .message-name
      名前
      .message-date
        2020/07/20
    .message-text
      おはよう

  .footer
    .input-box
      = icon('fas', 'image')
      %input{type: "file"}
    .send
