.wrapper__main__header
  .wrapper__main__header--left
    グループ名
    .member
      member：name
  .wrapper__main__header--right
    Edit
.wrapper__main__message
  .wrapper__main__message--name
    名前
    .date
      2020/07/20
  .wrapper__main__message--text
    おはよう
.wrapper__main__footer
