.main
  .main__header
    .main__header--left
      グループ名
      .member
        member：name
    .main__header--right
      Edit
  .main__message
    .main__message--name
      名前
      .date
        2020/07/20
    .main__message--text
      おはよう
  .main__footer
    .input-box
      = icon('fas', 'image')
      %input{type: "file"}
    .send
