.side
  .side__header
    ユーザー名
    .side__header--right
      = link_to "#" do
        = icon('fa', 'edit', class: 'icon' )
        %span<>
      = link_to "#" do
        = icon('fa', 'cog', class: 'icon' )
  .side__group
    .side__group--name
      グループ名
    .side__group--message
      メッセージはまだありません