.wrapper__side__header
  ユーザー名
  .wrapper__side__header__right
    = link_to "#" do
      = icon('fa', 'edit', class: 'icon' )
      %span<>
    = link_to "#" do
      = icon('fa', 'cog', class: 'icon' )
.wrapper__side__group
  .wrapper__side__group--name
    グループ名
  .wrapper__side__group--message
    メッセージはまだありません